<button class="btn btn-success" routerLink="new">New Recipe</button>
<div class="col-sm-12">
  <div class="form-group form-inline">
    <div class="col-sm-12">
      <label for="searchFor">Search for:</label>
      <input class="form-control" type="text" id="searchFor" (change)="onSearchForName()" [(ngModel)]="searchForText">
      <button class="form-control" (click)="onSearchForName()">Search</button>
    </div>
  </div>
</div>
<hr>
<div class="col-sm-12">
  <app-recipe-item *ngFor="let recipeItem of recipes" [recipeItem]="recipeItem"></app-recipe-item>
</div>